.para{


    background-color: green;
}
#p1{

    background-color:red;
}

#p2{


background-color:black;

}
#div1{


    background-color:red;
}


.boxx{

background-color:red;
border: solid;
margin-left: 50px;
padding:100px;

}
#d1{

margin-right: 80px;
    background-color:green;
}

#d2{
padding-top: 150px;

margin: 50px;






}

