.para1{


font-size:30pt;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: lighter;
font-style: italic;
word-spacing: 50px;
letter-spacing: 50px;


}

.para2{



font-size:3em;


}
